**Here we are going to clean the data for manipulating the dataset later by saving/loading a dataframe**

Finish with thi sline of code:

In [206]:
%matplotlib inline
import pandas as pd
import numpy as np
import re
from matplotlib.ticker import MaxNLocator
import matplotlib.pyplot as plt
from requests import get
from bs4 import BeautifulSoup
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

**Dataframe Preparation**

In [207]:
food = pd.read_csv('data/food-inspections.csv', sep=',')

In [208]:
# Drop The columns containing only 'NaN'
food.drop(['Zip Codes','Historical Wards 2003-2015', 'Community Areas', 'Census Tracts','Wards'], axis=1, inplace=True)

# Drop because the State is either 'NaN' or 'IL' for Illinois and remove the Address because it is not useful.
food.drop(['State','Address'], axis=1, inplace=True)

In [209]:
food.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,City,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2320519,SALAM RESTAURANT,SALAM RESTAURANT,2002822.0,Restaurant,Risk 1 (High),CHICAGO,60625.0,2019-10-25T00:00:00.000,Complaint Re-Inspection,Pass,NaN,41.965719,-87.708538,"{'latitude': '-87.70853756167853', 'longitude'..."
1,2320509,TAQUERIA EL DORADO,TAQUERIA EL DORADO,2694960.0,Restaurant,Risk 1 (High),CHICAGO,60625.0,2019-10-25T00:00:00.000,License Re-Inspection,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968820,-87.682292,"{'latitude': '-87.6822915036914', 'longitude':..."
2,2320412,"DANTE'S PIZZA,INC.",DANTE'S PIZZA,2092884.0,Restaurant,Risk 1 (High),CHICAGO,60647.0,2019-10-24T00:00:00.000,Canvass,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.917539,-87.703728,"{'latitude': '-87.70372788811352', 'longitude'..."
3,2320430,LAO PENG YOU LLC,LAO PENG YOU,2694477.0,Restaurant,Risk 1 (High),CHICAGO,60622.0,2019-10-24T00:00:00.000,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.896005,-87.677938,"{'latitude': '-87.6779378973854', 'longitude':..."
4,2320384,ARBOR,ARBOR,2363029.0,Restaurant,Risk 1 (High),CHICAGO,60647.0,2019-10-24T00:00:00.000,Recent Inspection,Pass w/ Conditions,14. REQUIRED RECORDS AVAILABLE: SHELLSTOCK TAG...,41.932025,-87.692169,"{'latitude': '-87.69216904438716', 'longitude'..."

**Cleaning steps**

1) Drop rows without location, check Zips and cities.

2) Drop the facilities having a license # equal to 0 and filter only the 4 facility types we are going to analyse: restaurants, grocery stores, schools and hospitals.

3) Convert the date format to an analysis friendly format

4) There are 3 risk levels (low, medium and high), any other value will be removed

5) For restaurants, we are going to focus only the 5 most inspected chains of different types: McDonald's, Subway, Taco Bell, Satrbucks and Dunkin Donuts.

**Step 1**

We remove the rows without Longitudes/Latitudes because those are absolutely necessary for our work.

In [210]:
food.Latitude.isna().any() or food.Longitude.isna().any()

True

In [211]:
food.dropna(subset = ["Latitude", "Longitude"], inplace=True)
food.Latitude.isna().any() or food.Longitude.isna().any() or food.Location.isna().any()

False

In [212]:
# Drop Location because it is no more necessary
food.drop(['Location'], axis=1, inplace=True)

Zip will be useful to look at the district location in Chicago

In [213]:
def zip_cleaner(npa):
    npa = str(npa)
    if npa.startswith('606'):
        npa = npa.split('606')[1]
        npa = npa.split('.')[0]
    else:
        npa = 'check'
    return npa

In [214]:
food['Zip'] = food['Zip'].apply(zip_cleaner)

In [215]:
food.Zip.unique()

array(['25', '47', '22', '38', '55', '28', '51', '03', '13', '40', '29',
       '39', '44', '08', '66', '11', '32', '45', '54', '23', '30', '43',
       '20', '49', 'check', '06', '19', '42', '60', '07', '59', '34',
       '52', '09', '41', '26', '57', '46', '21', '02', '05', '61', '14',
       '16', '12', '31', '36', '18', '04', '56', '24', '15', '37', '01',
       '10', '17', '33', '53', '27'], dtype=object)

In [216]:
food[food['Zip'] == 'check'].shape

(1300, 14)

We delete the rows with unknown Zip (not a lot) and drop as well the column 'City' because we know now that all facilities remaining in the dataframe are located in Chicago.

In [217]:
food.drop(food[food['Zip'] == 'check'].index, inplace=True)
food.drop(['City'], axis=1, inplace=True)

**Step 2**

In [218]:
food.drop(food[food['License #'] == 0].index, inplace=True)

In [219]:
food = food[food["Facility Type"].isin(["Restaurant","Grocery Store", "School", "Hospital"])]
food["Facility Type"].value_counts()

Restaurant       128862
Grocery Store     24678
School            11688
Hospital            517
Name: Facility Type, dtype: int64

**Step 3**

In [220]:
food["Inspection Date"] = food["Inspection Date"].str.split("-").str[0]
food.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude
0,2320519,SALAM RESTAURANT,SALAM RESTAURANT,2002822.0,Restaurant,Risk 1 (High),25,2019,Complaint Re-Inspection,Pass,NaN,41.965719,-87.708538
1,2320509,TAQUERIA EL DORADO,TAQUERIA EL DORADO,2694960.0,Restaurant,Risk 1 (High),25,2019,License Re-Inspection,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.968820,-87.682292
2,2320412,"DANTE'S PIZZA,INC.",DANTE'S PIZZA,2092884.0,Restaurant,Risk 1 (High),47,2019,Canvass,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.917539,-87.703728
3,2320430,LAO PENG YOU LLC,LAO PENG YOU,2694477.0,Restaurant,Risk 1 (High),22,2019,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.896005,-87.677938
4,2320384,ARBOR,ARBOR,2363029.0,Restaurant,Risk 1 (High),47,2019,Recent Inspection,Pass w/ Conditions,14. REQUIRED RECORDS AVAILABLE: SHELLSTOCK TAG...,41.932025,-87.692169

In [221]:
#Check for missing years
food["Inspection Date"].isna().any()

False

**Step 4**

In [222]:
#checking for NaN's
food.dropna(subset = ["Risk"], inplace = True)
food.Risk.isna().any()

False

In [223]:
#Checking for any other value than the 3 levels of risk
food.Risk.value_counts()

Risk 1 (High)      122183
Risk 2 (Medium)     33251
Risk 3 (Low)        10297
All                    11
Name: Risk, dtype: int64

In [224]:
#cleaning
food = food[~food["Risk"].str.contains('|'.join(["All"]))]
food.Risk.value_counts()

Risk 1 (High)      122183
Risk 2 (Medium)     33251
Risk 3 (Low)        10297
Name: Risk, dtype: int64

**Step 5**

In [225]:
#Preview of restaurants
restaurants = food[food["Facility Type"]=="Restaurant"].copy()
restaurants["AKA Name"].value_counts().head(25)

SUBWAY                          3198
DUNKIN DONUTS                   1322
MCDONALD'S                       758
BURGER KING                      365
MCDONALDS                        336
DUNKIN DONUTS/BASKIN ROBBINS     320
CHIPOTLE MEXICAN GRILL           318
WENDY'S                          293
STARBUCKS COFFEE                 279
POTBELLY SANDWICH WORKS          271
CORNER BAKERY CAFE               240
FRESHII                          236
STARBUCKS                        233
JIMMY JOHN'S                     222
PIZZA HUT                        212
Subway                           209
SUBWAY SANDWICHES                204
DOMINO'S PIZZA                   201
TACO BELL                        199
KFC                              198
AU BON PAIN                      187
POTBELLY SANDWICH WORKS LLC      177
HAROLD'S CHICKEN SHACK           170
SEE THRU CHINESE KITCHEN         169
MC DONALD'S                      169
Name: AKA Name, dtype: int64

In [226]:
#Drop NaN's
restaurants.dropna(subset=["AKA Name"], inplace=True)
restaurants["AKA Name"].isna().any()

False

In [227]:
#Only uppercase
restaurants["AKA Name"] = restaurants["AKA Name"].str.upper()

Now that a first cleaning was done, we will concentrate on the 5 restaurants chosen and mentioned before

**McDonald's**

In [228]:
#Let's see if there is other restaurants with "donald" to avoid adding wrong data to McDonald's
restaurants[restaurants["AKA Name"].str.contains("DONALD")]["AKA Name"].value_counts()

MCDONALD'S                           906
MCDONALDS                            405
MC DONALD'S                          169
MC DONALDS                           168
MCDONALD'S RESTAURANT                 87
MCDONALDS RESTAURANT                  42
MCDONALD'S RESTAURANTS                24
MCDONALD'S #490                       20
DONALDS FAMOUS HOT DOGS               19
MCDONALD'S RESTAURANT  (T3 H9)        18
MCDONALD'S CORPORATION                17
MCDONALD'S  (T3 HK FOOD COURT)        17
MC DONALDS # 6771                     16
MCDONALDS #27672                      15
MCDONALDS  (T3  K9)                   15
MCDONALD' S # 5618                    15
MCDONALDS #4655                       14
MCDONALDS #7069                       13
MCDONALD'S   (T3- L4)                 13
MCDONALDS#6337                        12
MC DONALDS-MCCORMICK PLACE NORTH      11
MCDONALD'S  (T1-B11)                  11
MCDONALD'S #5813                      11
MCDONALD'S  (T1-C10)                  11
MCDONALD'S  (T2   E/F)                11
MCDONALD'S STORE #4061                11
MCDONALD'S REST. OF ILLINOIS, INC     10
MCDONALD'S (T5/ARRIVAL)               10
MCDONALD'S #20104                     10
ROCK & ROLL MCDONALDS                 10
MCDONALD'S #26364                     10
MCDONALD'S #11290                      9
MCDONALD'S  (T2  E/F)                  9
MC DONALD' S  # 6888                   8
MCDONALD'S  (T5 ARRIVAL)               8
MC DONALDS # 25509                     8
MCDONALDS #12003                       8
MC DONALD' S # 22100                   8
MC DONALDS RESTAURANT                  7
MCDONALD'S #6310                       6
MC DONALD'S  (T3  L4)                  6
MCDONALD'S  (T1  B11)                  6
MCDONALD?S 28128                       5
MCDONALD'S EXPRESS                     5
MCDONALDS (T1 C10)                     5
MCDONALDS #7463                        4
MC DONALD'S RESTAURANT                 3
MCDONALD?S                             3
MCDONALD'S - MCCAFE'                   2
MCDONALD' S RESTAURANT                 2
MCDONALD'S #6337                       1
MCDONALDÏ¿½S 28128                     1
Name: AKA Name, dtype: int64

In [229]:
#removing "Donald's famous hot dogs" than unifying all McDonald's
restaurants = restaurants[~restaurants["AKA Name"].str.contains('|'.join(["DOGS"]))]
restaurants.loc[restaurants["AKA Name"].str.contains("DONALD"), "AKA Name"] = "MCDONALDS"
restaurants[restaurants["AKA Name"].str.contains("DONALD")]["AKA Name"].value_counts()

MCDONALDS    2216
Name: AKA Name, dtype: int64

**Subway**

In [230]:
#Let's see if there is other restaurants with "subway" to avoid adding wrong data to Subway
restaurants[restaurants["AKA Name"].str.contains("SUBWAY")]["AKA Name"].value_counts()

SUBWAY                                           3407
SUBWAY SANDWICHES                                 231
SUBWAY SANDWICH                                    61
SUBWAY SANDWICH & SALAD                            29
SUBWAY RESTAURANT                                  25
SUBWAY (T3 ROTUNDA)                                25
SUBWAY #3333                                       21
SUBWAY SANDWICHES & SALADS                         21
SUBWAY 28330                                       19
SNAPPY CONVENIENCE CENTER/SUBWAY/DUNKIN DONUT      18
BP/SUBWAY                                          17
SUBWAY SANDWICH STORE                              16
SUBWAY #45927                                      16
SUBWAY 48735                                       14
SHELL SUBWAY                                       13
ROAD RANGER/SUBWAY                                 11
LALO SUBWAY INC                                    10
LAKEVIEW SUBWAY                                     9
MADISON SUBWAY LLC                                  8
SUBWAY 24028                                        8
SUBWAY #267771                                      6
BP GAS & SUBWAY                                     6
SUBWAY #25917                                       5
SUBWAY SANDWICH & SALADS                            4
SUBWAY # 23333                                      3
SUBWAY #23983                                       3
SUBWAY SANDWICHES & SALAD                           3
SUBWAY 47512                                        2
SUBWAY #23340                                       2
SUBWAY #42676                                       1
SUBWAY FULLERTON & ASHLAND                          1
SUBWAY 24454                                        1
Name: AKA Name, dtype: int64

In [231]:
#removing restaurants with "subway" undesired than unifying all Subway's
removable = ["FULLERTON","MADISON", "LALO","LAKEVIEW","SNAPPY"]
restaurants = restaurants[~restaurants["AKA Name"].str.contains('|'.join(removable))]
restaurants.loc[restaurants["AKA Name"].str.contains("SUBWAY"), "AKA Name"] = "SUBWAY"
restaurants[restaurants["AKA Name"].str.contains("SUBWAY")]["AKA Name"].value_counts()

SUBWAY    3970
Name: AKA Name, dtype: int64

**Starbucks**

In [232]:
restaurants[restaurants["AKA Name"].str.contains("STARBUCKS")]["AKA Name"].value_counts().head(40)

STARBUCKS COFFEE                                   292
STARBUCKS                                          233
MARKET PLACE/STARBUCKS COFFE/FRANGO/GODIVA          22
STARBUCKS COFFEE #2370                              14
STARBUCKS HK APEX (T3 HK FOODCOURT)                 13
STARBUCKS COFFEE (T1-B5)                            13
STARBUCKS COFFEE #2334                              13
STARBUCKS COFFEE #2410                              12
STARBUCKS (T2 LL ARRIVAL)                           12
STARBUCKS (T1/B CONCOURSE-BAGGAGE CLAIM)            12
STARBUCKS (T3  G14 LL)                              12
STARBUCKS/ W KITCHEN/ F1,F2 POD/WAREHSE/LA BREA     12
STARBUCKS COFFEE #233                               11
STARBUCKS COFFEE #13439                             11
MAIN KITCHEN/STARBUCKS /ETA/ EMPL CAFE              11
STARBUCKS COFFEE (T1-B14)                           11
STARBUCKS (T3 K15 FOOD COURT)                       11
STARBUCKS COFFEE #2527                              11
STARBUCKS COFFEE #8954                              11
STARBUCKS  (T3 H6)                                  11
STARBUCKS COFFEE  #2635                             11
STARBUCKS COFFEE #228                               11
STARBUCKS  (T1-C27)                                 11
STARBUCKS COFFEE # 2624                             10
STARBUCKS COFFEE #2224                              10
STARBUCKS COFFEE #2689                              10
STARBUCKS COFFEE #212                               10
STARBUCKS COFFEE #2252                              10
STARBUCKS COFFEE #9942                              10
STARBUCKS   T3 H-13                                 10
STARBUCKS COFFEE #2428                              10
STARBUCKS # 2483                                    10
STARBUCKS COFFEE #2827                              10
STARBUCKS COFFEE #2565                              10
STARBUCKS COFFEE #2479                              10
STARBUCKS  (T3 H2)                                  10
STARBUCKS COFFEE #2412                              10
STARBUCKS & 23RD STREET CAFE MARKET                 10
STARBUCKS (T3/BAGGAGE CLAIM)                        10
STARBUCKS COFFEE #2639                              10
Name: AKA Name, dtype: int64

In [233]:
#we are going to assume "starbucks" is a very distinctive name and have negligible chance of being used in another restaurant
restaurants.loc[restaurants["AKA Name"].str.contains("STARBUCKS"), "AKA Name"] = "STARBUCKS"
restaurants[restaurants["AKA Name"].str.contains("STARBUCKS")]["AKA Name"].value_counts()

STARBUCKS    1426
Name: AKA Name, dtype: int64

**Taco Bell**

In [234]:
#Checking a misspelled case
restaurants[restaurants["AKA Name"].str.contains("TACOBELL")]["AKA Name"].value_counts()

Series([], Name: AKA Name, dtype: int64)

In [235]:
#Looks like Taco Bell is always written in separated words
restaurants[restaurants["AKA Name"].str.contains("TACO BELL")]["AKA Name"].value_counts()

TACO BELL            205
KFC/TACO BELL         25
TACO BELL #15855      15
TACO BELL CANTINA     11
TACO BELL #30407      11
TACO BELL #15875       9
TACO BELL_#4171        9
TACO BELL #2513        9
TACO BELL #5751        8
TACO BELL 32575        3
TACO BELL 34921        2
Name: AKA Name, dtype: int64

In [236]:
#And the name is luckly very unique
restaurants.loc[restaurants["AKA Name"].str.contains("TACO BELL"), "AKA Name"] = "TACO BELL"
restaurants[restaurants["AKA Name"].str.contains("TACO BELL")]["AKA Name"].value_counts()

TACO BELL    307
Name: AKA Name, dtype: int64

**Dunkin Donuts**

In [237]:
#Checking a misspelled case
restaurants[restaurants["AKA Name"].str.contains("DUNKINDONUTS")]["AKA Name"].value_counts()

DUNKINDONUTS    7
Name: AKA Name, dtype: int64

When unifying all Dunkin Donuts we will also need to add the 7 "DUNKINDONUTS" from above

In [238]:
restaurants[restaurants["AKA Name"].str.contains("DUNKIN DONUTS")]["AKA Name"].value_counts()

DUNKIN DONUTS                           1375
DUNKIN DONUTS/BASKIN ROBBINS             320
DUNKIN DONUTS BASKIN ROBBINS             121
DUNKIN DONUTS / BASKIN ROBBINS           116
DUNKIN DONUTS/ BASKIN ROBBINS             60
DUNKIN DONUTS / BASKIN ROBINS             47
DUNKIN DONUTS & BASKIN ROBBINS            28
DUNKIN DONUTS / BASKIN & ROBBINS          25
DUNKIN DONUTS & BASKIN ROBINS             15
DUNKIN DONUTS-BASKIN ROBBINS              14
HALSTED SHELL, DUNKIN DONUTS, MR SUB      14
BASKIN ROBBINS/ DUNKIN DONUTS             13
DUNKIN DONUTS BASKIN ROBBINS TOGO'S       12
DUNKIN DONUTS (T3 HK FOODCOURT)           11
DUNKIN DONUTS /  BASKIN ROBBINS           10
BASKIN ROBBINS/DUNKIN DONUTS              10
DUNKIN DONUTS/BASKIN ROBINS               10
GRAND CITGO/ MR. SUB / DUNKIN DONUTS      10
DUNKIN DONUTS INC                          9
DUNKIN DONUTS/BASKIN  ROBBINS              8
DUNKIN DONUTS AND BASKIN ROBBINS           4
DUNKIN DONUTS /  BASKIN ROBINS             4
JETBOX WITH DUNKIN DONUTS                  3
DUNKIN DONUTS/BASKIN-ROBBINS               3
CITGO/DUNKIN DONUTS                        1
DUNKIN DONUTS/BR/TOGO'S                    1
Name: AKA Name, dtype: int64

In [239]:
#Dunkin Donuts is very unique too which helps us when unifying
restaurants.loc[restaurants["AKA Name"].str.contains("DUNKIN DONUTS"), "AKA Name"] = "DUNKIN DONUTS"
restaurants.loc[restaurants["AKA Name"].str.contains("DUNKINDONUTS"), "AKA Name"] = "DUNKIN DONUTS"
restaurants[restaurants["AKA Name"].str.contains("DUNKIN DONUTS")]["AKA Name"].value_counts()

DUNKIN DONUTS    2251
Name: AKA Name, dtype: int64

**Removing any other restaurants**

In [240]:
restaurant_list = ["MCDONALDS","SUBWAY","STARBUCKS","TACO BELL","DUNKIN DONUTS"]
restaurants = restaurants[restaurants["AKA Name"].isin(restaurant_list)]
restaurants["AKA Name"].value_counts()

SUBWAY           3970
DUNKIN DONUTS    2251
MCDONALDS        2216
STARBUCKS        1426
TACO BELL         307
Name: AKA Name, dtype: int64

**Final Step**

In [241]:
#Reset Indexes after cleaning
food.reset_index(drop=True, inplace=True)
restaurants.reset_index(drop=True, inplace=True)

In [242]:
#save pickles for use in analysis
food.to_pickle("food.pkl")
restaurants.to_pickle("restaurants.pkl")